*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-image: url('https://i.ytimg.com/vi/LI7qiZj0T1M/maxresdefault.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  margin: 0 100px;
}