header{
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom:  2px 2px 2px 2px black;
    width: 100%;
    padding-bottom: 10px;
    .logo{
        margin: 0 50px;
    }
        img{
           width: 200px;
            transition: 0.2s;
            background-color: rgba(240,240, 240, 0.8);
            border-radius: 50%;
        &:hover{
             background-color: rgb(240,240, 240);;
            }
        }

}